<p id="notice"><%= notice %></p>

<h1>Volunteer Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Interests</th>
      <th>Skills</th>
      <th>Img</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Speciality</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @volunteer_profiles.each do |volunteer_profile| %>
      <tr>
        <td><%= volunteer_profile.interests %></td>
        <td><%= volunteer_profile.skills %></td>
        <td><%= volunteer_profile.img %></td>
        <td><%= volunteer_profile.address %></td>
        <td><%= volunteer_profile.phone %></td>
        <td><%= volunteer_profile.speciality %></td>
        <td><%= volunteer_profile.age %></td>
        <td><%= link_to 'Show', volunteer_profile %></td>
        <td><%= link_to 'Edit', edit_volunteer_profile_path(volunteer_profile) %></td>
        <td><%= link_to 'Destroy', volunteer_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Volunteer Profile', new_volunteer_profile_path %>
