<header>
    <main class="cover-page" id="headerbg">
        <section class="wrapped-page">
                <div class="item-center">
                    <h1>Giving Hands</h1>
                    <br>
                    <h3>Alone We can do little; Together we can do so Much. - Helen Keller </h3>
                    <input class="form-control" type="text" placeholder="Volenteer" aria-label="Search" />
                </div>
        </section>
    </main>
</header>


    <div class="container subComponent-lg">
        <section>
            <div class="row">
                <% @events.each do |event| %>
                <div class="EventE card">
                    <%= image_tag(event.img, class:"card-img-top", width:"100%", height:"200")%>
                    <div class= "card-body">
                        <div class= "card-title">
                            <strong><%= event.title %></strong>
                        </div>
                        <p class= "card-text">
                            <strong>number of Volunteers:</strong>
                            <%= event.number_needed %>
                        </p>
                        <p class= "card-text">
                            <strong>Start on:</strong>
                            <%= event.start_date.strftime("%B %e, %Y") %>
                        </p>
                        <p class= "card-text">
                            <strong>Location:</strong>
                            <%= event.city %>
                        </p>
                        <button type="button" class="btn btn-link"> More Details </button>
                    </div>
                </div>
                <%end%>
            </div>
        </section>
    </div>


