<main class="SignInBg">
  <section class="wrapped-page">
    <div class ="Signin">
      <h2 class="Signtext1">Welcome</h2>
      <h4 class="Signtext2">Sign In to your account to continue</h4>
      <form class ="Forma">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email, "Your Email Address" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"example@address.com", class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password, "Your Password"  %><br />
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
 
            <div class="actions">
              <%= f.submit "Sign In", class:"btn btn-block btn-info" %>
            </div>
            <p class="Signtext3"> Don't have an account? 
          <%= render "devise/shared/links" %>
          </p>
          <% end %>
         
      </form>
    </div>
  </section>
</main>